
@{
    ViewBag.Title = "gv_Home_Index";
    Layout = "~/Views/Shared/GiangVien__Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }

    .w3-padding-32, .w3-quarter {
        font-size: 20px;
    }
</style>
<html>
<body>
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        <div class="w3-padding-32 w3-center">
            <h3><b style="color: #5994dd">TRƯỜNG ĐẠI HỌC QUY NHƠN</b></h3><br>
            <img src="~/Content/IMG/anhtruong.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
            <div>
                <div class="w3-padding-32">
                    <h4><b style="color: #5994dd">Sứ mệnh</b></h4>
                    <p>Trường Đại học Quy Nhơn là cơ sở giáo dục đại học đa ngành, đa lĩnh vực có sứ mệnh đào tạo, phát triển nguồn nhân lực chất lượng cao; bồi dưỡng nhân tài; nghiên cứu khoa học, truyền bá tri thức và chuyển giao công nghệ; phục vụ hiệu quả sự phát triển bền vững của đất nước, đặc biệt đối với khu vực Nam Trung Bộ - Tây Nguyên; góp phần thúc đẩy tiến bộ xã hội.</p>
                </div>
                <div class="w3-padding-32">
                    <h4><b style="color: #5994dd">Tầm nhìn</b></h4>
                    <p>
                        Đến năm 2030, Trường Đại học Quy Nhơn sẽ là trường đại học đa ngành, đa lĩnh vực định hướng ứng dụng có uy tín cao, đạt tiêu chuẩn chất lượng của khu vực Đông Nam Á; có vị thế quan trọng về hợp tác đào tạo, nghiên cứu, trao đổi học thuật, giao lưu văn hóa trong nước và quốc tế.
                    </p>
                </div>
                <div class="w3-padding-32">
                    <h4><b style="color: #5994dd">Giá trị cốt lõi</b></h4>
                    <p>
                        Trách nhiệm - Chuyên nghiệp - Chất lượng - Sáng tạo - Nhân văn
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <!-- First Photo Grid-->


        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <img src="~/Content/IMG/dhqn.jpg" alt="Sandwich" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Hội Sinh viên tỉnh tuyên dương Sinh viên 5 tốt cấp Tỉnh</a>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/IMG/ndhd.jpg" alt="Steak" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Cuộc thi Nét đẹp học đường</a>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/IMG/the thao.jpg" alt="Salmon" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Ngày hội thể thao</a>
            </div>

            <div class="w3-quarter">
                <img src="~/Content/IMG/ngayhoivieclam.jfif" alt="Pasta and Wine" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Ngày hội việc làm</a>

            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="~/Content/IMG/traohocbong.jfif" alt="Popsicle" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Trao học bổng tiếp sức đến trường</a>
            </div>

            <div class="w3-quarter">
                <img src="~/Content/IMG/hoatdonghuongnghiep.jpg" alt="Sandwich" style="width:100%">

                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Hoạt động hướng nghiệp</a>
            </div>
            <div class="w3-quarter">
                <img src="~/Content/IMG/kiniem.jfif" alt="Cherries" style="width:100%">

                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Kỉ niệm 40 năm ngày thành lập trường Đại Học Quy Nhơn</a>

            </div>
            <div class="w3-quarter">
                <img src="~/Content/IMG/thuvien1.jpg" alt="Croissant" style="width:100%">
                <a href="https://www.qnu.edu.vn/vi/gioi-thieu-9/su-menh-tam-nhin">Cảnh đẹp nhà trường</a>
            </div>
        </div>
    </div>
</body>
</html>

